<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link rel="shortcut icon" href="#" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="./main.js"></script>
</head>
<body>
    <div class="form" id="app">
        <span class="form__title">Travel App</span>
        <form action="">
            <span class="form__switch">
				When you add data below and hit 'Generate', your trip will be added to the journal.
			</span>		
            <div class="form__input">
                <i class="ri-map-pin-2-line"></i>
                <input id="dest" type="text" placeholder="Destination">
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-flight-takeoff-line"></i> 
                <input id="date" type="date" placeholder="Date">
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-flight-land-line"></i>
                <input id="enddate" type="date" placeholder="End Date">
                <span class="bar"></span>
            </div>            
            <button id="generate" type="submit" class="form__button">Generate Post</button>
        </form>
    </div>
    <div class="posts">
        <span class="entries__title">Most Recent Entry</span>
        <div id="entryHolder">
          <div id="countdown"></div>
          <div id="duration"></div>
          <div id="countryName"></div>
          <div><div id="temp"></div><div id="clouds"></div><div id="precip"></div></div>
          <div><img id="pic" src="" alt=""></div>
        </div>
    </div>	
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>    
</body>
</html>